.form-add__button {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: black;
  background-image: url('../../../images/plus.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  transition: opacity .5s;
}

.form-add__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
