.form-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 620px) {
  .form-add {
    margin-top: 36px;
    min-width: 100%;
  }
}
