.profile__button_like {
  border: none;
  width: 22px;
  height: 19px;
  background-image: url('../../../../images/heartLike.svg');
  background-size: cover;
  background-color: #FFF;
  transition: opacity .5s;
}

.form-like__button:hover {
  opacity: 0.5;
}
