.pop-up__profile-user {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
