.profile__button_add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-image: url('../../../../images/plus.svg');

}

@media (max-width: 620px) {
  .profile__button_add {
    margin-top: 36px;
    min-width: 100%;
  }
}
