.card__button_like {
  border: none;
  width: 22px;
  height: 19px;
  background-image: url('../../../../images/heartLike.svg');
  background-size: cover;
  background-color: #FFF;
  background-repeat: no-repeat;
  transition: opacity .5s;
}

.card__button_like:hover {
  opacity: 0.5;
}
