.profile__info {
  display: grid;
  gap: 16px;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content;
  grid-template-areas:
    'profile__user form-edit'
    'profile__user-job .';
}
